## Task 1: Write an `SQL` query that counts how many sequential tasks a person has skipped.

An sqlite3 database called `calculate_skips.db` is stored in this repository. This database contains a single table called `tasks`.

### Let's set up a connection to the database and load in the `tasks` table.

**Below we..**

- Open a connection to the sqlite database
- Define a helper function to make querying data easier

In [ ]:
#__SOLUTION__
from tests import generate_test_data

generate_test_data(100)

 92%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████               | 92/100 [38:09<01:18,  9.86s/it]

In [2]:
# Run this cell unchanged
import os
import sqlite3

# Open connection
db_path  = os.path.join('data', 'calculate_skips.db')
connection = sqlite3.connect(db_path)

# Helper function
def run_query(query_string):
    
    return pd.read_sql(query_string, connection)

In [3]:
#__SOLUTION__
# Run this cell unchanged
import os
import pandas as pd
import sqlite3

# Open connection
db_path  = os.path.join('data', 'calculate_skips.db')
connection = sqlite3.connect(db_path)

# Helper function
def run_query(query_string):
    
    return pd.read_sql(query_string, connection)

To query the database you can pass a query string into the `run_query` helper function.

In [4]:
# Run this cell unchanged
query = 'select * from tasks'

run_query(query)

      person              task_name  ordinality  completed
0   Person A          married-glove           4          0
1   Person B          married-glove           4          1
2   Person C          married-glove           4          1
3   Person A  advanced-refrigerator           3          1
4   Person B  advanced-refrigerator           3          0
5   Person C  advanced-refrigerator           3          1
6   Person A          electric-stop           2          0
7   Person B          electric-stop           2          0
8   Person C          electric-stop           2          1
9   Person A           fair-subject           1          1
10  Person B           fair-subject           1          1
11  Person C           fair-subject           1          1
12  Person A           gloomy-novel           0          1
13  Person B           gloomy-novel           0          1
14  Person C           gloomy-novel           0          1

In [5]:
#__SOLUTION__
# Run this cell unchanged
query = 'select * from tasks'

run_query(query)

      person              task_name  ordinality  completed
0   Person A          married-glove           4          0
1   Person B          married-glove           4          1
2   Person C          married-glove           4          1
3   Person A  advanced-refrigerator           3          1
4   Person B  advanced-refrigerator           3          0
5   Person C  advanced-refrigerator           3          1
6   Person A          electric-stop           2          0
7   Person B          electric-stop           2          0
8   Person C          electric-stop           2          1
9   Person A           fair-subject           1          1
10  Person B           fair-subject           1          1
11  Person C           fair-subject           1          1
12  Person A           gloomy-novel           0          1
13  Person B           gloomy-novel           0          1
14  Person C           gloomy-novel           0          1

### Write your query

Your query should return the following table:

| person | skipped |
|--------|:---------:|
|Person A| 1       |
|Person B| 2       |
|Person C| 0       |

In [6]:
# Your code goes here
query = """


"""

In [7]:
#__SOLUTION__
# Your code goes here
query = """
SELECT person, SUM(skipped) skipped
FROM (
        SELECT  person
              , completed = false AND SUM(
                                           CASE
                                               WHEN completed = true
                                               THEN 1
                                               ELSE 0
                                           END
                                   ) OVER(
                                           PARTITION BY person
                                           ORDER BY ordinality
                                           ROWS BETWEEN CURRENT ROW
                                           AND UNBOUNDED FOLLOWING
                                         ) > 0 skipped
        FROM tasks)
GROUP BY person
"""

**Run the cell below to check your query's result**

In [8]:
# Run this cell unchanged
run_query(query)

     person  skipped
0  Person A        1
1  Person B        2
2  Person C        0

In [9]:
#__SOLUTION__
# Run this cell unchanged
run_query(query)

     person  skipped
0  Person A        1
1  Person B        2
2  Person C        0

In [10]:
# Run this cell unchanged
from tests import test_query
test_query(query)

20/20 tests were passed.

**Run the cell below to test your query**

In [11]:
#__SOLUTION__
# Run this cell unchanged
from tests import test_query
test_query(query)

20/20 tests were passed.

## Task 2: Define a function that calculates skip counts in a pandas dataframe

Below, we load in the `tasks` table and store the data in the variable `df`

In [12]:
# Run this cell unchanged
df = run_query('select * from tasks')
df.head(3)

     person      task_name  ordinality  completed
0  Person A  married-glove           4          0
1  Person B  married-glove           4          1
2  Person C  married-glove           4          1

In [13]:
#__SOLUTION__
# Run this cell unchanged
df = run_query('select * from tasks')
df.head(3)

     person      task_name  ordinality  completed
0  Person A  married-glove           4          0
1  Person B  married-glove           4          1
2  Person C  married-glove           4          1

In the cell below, define a function that
- Receives a dataframe with `['person', 'task_name', 'ordinality', 'completed']` columns
- Returns a table that counts the number of skipped lessons for each person

For the dataframe shown above, the function should output a table with the `person` column set as the index. The output should look like this:

| person | skipped |
|--------|:---------:|
|Person A| 1       |
|Person B| 2       |
|Person C| 0       |

_Please note: This function will be tested against *other* randomly generated datasets with the same column names and datatypes. So the function should be written to return skip counts for whatever dataset is passed as an argument_

In [14]:
def calculate_skips(dataframe):
    # Your code goes here
    pass

In [15]:
#__SOLUTION__
def calculate_skips(dataframe):
    return (dataframe.sort_values('ordinality', ascending=False)
           .assign(cumulative=lambda x: x.groupby('person').completed.cumsum(),
                   skipped=lambda x: x.apply(lambda y: True if not y.completed 
                                                            and y.cumulative > 0 
                                                            else False, axis=1))
           .groupby('person').skipped.sum()
           .to_frame().reset_index())

**Run the cell below to check your function's output**

In [16]:
# Run this cell unchanged
calculate_skips(df)

     person  skipped
0  Person A        1
1  Person B        2
2  Person C        0

In [17]:
#__SOLUTION__
# Run this cell unchanged
calculate_skips(df)

     person  skipped
0  Person A        1
1  Person B        2
2  Person C        0

**Run the cell below to test your function**

In [19]:
# Run this cell unchanged
from tests import test_function
test_function(calculate_skips)

20/20 tests were passed.

In [20]:
#__SOLUTION__
# Run this cell unchanged
from tests import test_function
test_function(calculate_skips)

20/20 tests were passed.